.jumbotron {
    padding:50px 0px 50px 0px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}
.footer{
    padding: 20px,0px,20px,0px;
    margin: 0px,auto;
    background-color: #D1C4E9;
}
.row-content{
    margin:0px,auto;
    padding:50px 0px 50px 0px;
    border-bottom:1px ridge

}
.body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: darkmagenta;
}
